body {
	background: url("../img/bg_1.jpg") no-repeat center center fixed;
	background-size: cover;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	margin: 0;
	color: rgb(246, 247, 248);
}
h1{
   	   text-align: center;  
	   text-shadow: 2px 2px #FF0000;    
       
}
h2 {
	text-transform: uppercase;
	color: white;
	text-shadow: 5px 5px 10px #ff00d4;
	font-weight: 400;
	letter-spacing: 1px;
	font-size: 1.4em;
	line-height: 2.8em;
}

a {
	text-decoration: gold;
	color: rgb(252, 5, 5);
}


/* Layout */
.container {
	margin: 0;
}



.login-box {
	background-color: white;
	max-width: 340px;
	margin: 0 auto;
	position: relative;
	top: 80px;
	padding-bottom: 30px;
	border-radius: 5px;
	box-shadow: 0 5px 50px rgba(4, 247, 174, 0.4);
	text-align: center;
}

.login-box .box-header {
	background-color: #000000;
	margin-top: 0;
	border-radius: 5px 5px 0 0;
}

.login-box label {
	font-weight: 700;
	font-size: 22px;
	color: rgb(24, 8, 250);
	text-shadow: 2px 2px rgb(255, 170, 1);
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 2em;
}





